<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head', {title:"Editar Producto", css:"addProduct"}) %>   
<body>
    <%- include ('../partials/header') %>
    <main>
        <div id="main-box" >    
            <form action="/products/<%= productSent.id %>/edit?_method=PUT" method="POST" enctype="multipart/form-data"> 
                <div>
                    <h2>
                        ¡Edita un producto!
                    </h2>
                </div>
                <div class="info">
                    <label for="Product-name">Nombre del Producto</label><br/>
                    <input type="text" name="productName" value="<%= productSent.productName%>" id="name" required>
                </div>
                <div class="info">
                    <label for="description">Descripcion del producto</label><br/>
                    <textarea name="productDescription" ><%=productSent.productDescription%></textarea>
                </div>
                <div class="info">
                    <label for="img">Imagen del Producto:</label><br/>
                    <input name="productImage" type="file" id="img" accept=".jpg,.png">
                </div>
               
                <div class="info" >
                    <label>Categoria del producto:</label><br>
                    <div id="information">
                  <label class="label-info"><input type="checkbox" name="productCategory" value="set-de-vinos"class="option">set de vinos</label><br>
                  <label class="label-info"><input type="checkbox" name="productCategory" value="tintos" class="option">Tintos</label><br>
                  <label class="label-info"><input type="checkbox" name="productCategory" value="blancos" class="option">Blancos</label><br>
                  <label class="label-info"><input type="checkbox" name="productCategory" value="rosados" class="option">Rosados</label><br>
                  <label class="label-info"><input type="checkbox" name="productCategory" value="dulces" class="option">Dulces</label><br>
                  <label class="label-info"><input type="checkbox" name="productCategory" value="espumantes" class="option">Espumantes</label><br>
                </div>
                </div>
                <div class="info">
                    <label for="price">Precio:</label><br/>
                    <input name="productPrice" type="number" id="price" value= <%= productSent.productPrice%> required >
                </div>
                <div class="info">
                    <label>¿esta de oferta?</label><br>
                    <div id="information">
                        <label class="label-info"><input type="checkbox" name="productOffer" value=true class="option">si contiene oferta</label><br>
                        <label class="label-info"><input type="checkbox" name="productOffer" value=false class="option">no contine oferta</label><br>
                    </div>
                    <br>
                    <label for="off">procentaje de oferta en caso de tenerlo</label><br/>
                    <input name="productDiscount" type="number" id="off" value= <%= productSent.productDiscount%> required >
                </div>
                <div id="button">
                    <button type="submit">Editar producto</button>
                </div>
            </form>

        </div>
    </main>
    <%- include ('../partials/footer') %>
</body>
</html>