<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head', {title:"Editar Producto", css:"addProduct"}) %>   
<body>
    <%- include ('../partials/header') %>
    <main>
        <div id="main-box" >    
            <ul class="errores"></ul>
            <form id="form" action="/products/<%= productSent.id %>/edit?_method=PUT" method="POST" enctype="multipart/form-data"> 
                <div>
                    <h2>
                        ¡Edita un producto!
                    </h2>
                </div>
                <div class="info">
                    <label for="Product-name">Nombre del Producto</label><br/>
                    <input id="name" type="text" name="productName" value="<%= productSent.productName%>" id="name" required>
                </div>
                <div class="info">
                    <label for="description">Descripcion del producto</label><br/>
                    <textarea id="description" name="productDescription" ><%=productSent.productDescription%></textarea>
                </div>
                <div class="info">
                    <label for="img">Imagen del Producto:</label><br/>
                    <input id="image" name="productImage" type="file" id="img" accept=".jpg,.jpeg,.gif,.png">
                </div>
               
                <div class="info" >
                    <label>Categoria del producto:</label><br>
                    <div id="information">
                        <label class="label-info"><input type="checkbox" name="productCategory" value=1 class="option">Tintos</label><br>
                        <label class="label-info"><input type="checkbox" name="productCategory" value=2 class="option">Blancos</label><br>
                        <label class="label-info"><input type="checkbox" name="productCategory" value=3 class="option">Rosados</label><br>
                        <label class="label-info"><input type="checkbox" name="productCategory" value=4 class="option">Dulces</label><br>
                        <label class="label-info"><input type="checkbox" name="productCategory" value=5 class="option">Espumantes</label><br>
                    </div>
                </div>
                <div class="info">
                    <label for="price">Precio:</label><br/>
                    <input name="productPrice" type="number" step="0.01" id="price" value= <%= productSent.productPrice%> required >
                </div>
                <div class="info">
                    <label>¿esta de oferta?</label><br>
                    <div id="information">
                        <label class="label-info"><input type="checkbox" name="productOffer" value=true class="option">si contiene oferta</label><br>
                        <label class="label-info"><input type="checkbox" name="productOffer" value=false class="option">no contine oferta</label><br>
                    </div>
                    <br>
                    <label for="off">procentaje de oferta en caso de tenerlo</label><br/>
                    <input name="productDiscount" type="number" id="off" value= <%= productSent.productDiscount%> required >
                </div>
                <div id="button">
                    <button type="submit">Editar producto</button>
                </div>
            </form>

        </div>
    </main>
    <%- include ('../partials/footer') %>
    <script src="/js/editProductValidation.js"></script>
</body>
</html>