<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head', {title:"Detalle de productos", css:"productDetailStyles"}) %>   
    <body>
        <%- include ('../partials/header') %>
        <main>
            <div class="mainbox">
                <div class="description"> 
                    <div>
                        <h2><%= productSent.productName%></h2>
                        <br>
                       
                    </div>
                    <div>  
                        <h1 class = "price">$<%= productSent.productPrice %></h1>
                        <% if(productSent.productDiscount != 0){%>
                            <h3 class = "discount"><%= productSent.productDiscount%>%off</h3>
                        <%}%>
                        <br>
                        <br>
                        <h4><%= productSent.productDescription%></h4>
                            <br>
                         
                        <h3>hasta en 18 cuotas</h3>
                        <br>
                        
                        <br>
                    </div>
                    <div>
                        <h3>Cantidad</h3>
                        <h2>- 1 +</h2>
                        <br>
                    <div class = "button">
                        <a href="/products/productCart"><input type="submit" value="Agregar al carrito" data-store="product-buy-button"></a>
                    </div>
                        <br>
                        <br>
                        
                    </div>
                    
                        
                   
                    <a href="/products/<%= productSent.id %>/edit" class="edit-redirect"  >EDITAR PRODUCTO</a>
                    <form action="/products/<%= productSent.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                        <button type="submit" class="action-button delete">ELIMINAR</button>
                    </form>
                   
                </div>
                <div class = "img-productcontainer">
                    <img src=/img/products/<%=productSent.productImage%> alt="no">
                </div>
            </div>
        </main>
        <%- include ('../partials/footer') %>
    </body>
</html>
